.ChatListItem {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  height: 73px;
  margin: 10;
  border-bottom: 1px solid #e5e5e6;
}

.ChatListItem:hover {
  background-color: #f6f6f6;
}

.ChatListItem.active {
  background-color: #ebebeb;
}

.ChatListItem--avatar {
  display: flex;
  align-items: center;
  padding: 0 15px 0 13px;
}

.ChatListItem--avatar > .MuiAvatar-root {
  height: 50px;
  width: 50px;
}

.ChatListItem--container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 15px;
  min-width: 0;
}

.ChatListItem--container--line {
  display: flex;
}

.ChatListItem--user {
  font-size: 17px;
  flex: 1;
}

.ChatListItem--data {
  font-size: 12px;
  color: #b2b2b2;
  margin-left: auto;
  margin-right: 0;
}

.ChatListItem--message {
  font-size: 14px;
  color: #b2b2b2;
  display: flex;
  flex: 1;
  min-width: 0;
}

.ChatListItem--message p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.container--line-btn {
  position: relative;
}

.container--line-btn > .MuiButtonBase-root {
  width: 0px;
  padding: 0px;
  transition: 0.1s;
  overflow: hidden;
}

.ChatListItem:hover
  > .ChatListItem--container
  > .ChatListItem--container--line
  > .container--line-btn
  > .MuiButtonBase-root {
  width: 24px;
}
