.ChatInfoWindow {
  display: flex;
  flex: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 6px solid #4adf83;
  box-sizing: border-box;
}

.ChatInfoWindow--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 460px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ChatInfoWindow--content--img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-image: url('/src/images/intro-connection-light.jpg');
  background-size: auto 100%;
  width: 356px;
  height: 355px;
  background-repeat: no-repeat;
}

.ChatInfoWindow h1 {
  color: #525252;
  font-size: 32px;
  margin: 38px 0 0 0;
  font-weight: normal;
  text-align: center;
}

.ChatInfoWindow--text {
  color: #888989;
  font-size: 14px;
  margin-top: 24px;
  font-weight: normal;
  text-align: center;
}

.ChatInfoWindow--link {
  color: #888989;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.ChatInfoWindow--link a {
  color: #1cc15c;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .ChatInfoWindow--content--img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-height: 740px) {
  .ChatInfoWindow--content--img {
    width: 250px;
    height: 250px;
  }
}
