.ChatInfoWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  flex: 1;
  border-bottom: 6px solid #4adf83;
}

.ChatInfoWindow__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 460px;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ChatInfoWindow__content__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.ChatInfoWindow h1 {
  color: #525252;
  font-size: 32px;
  margin: 38px 0 0 0;
  font-weight: normal;
  text-align: center;
}

.ChatInfoWindow__text {
  color: #888989;
  font-size: 14px;
  margin-top: 24px;
  font-weight: normal;
  text-align: center;
}

.ChatInfoWindow__link {
  color: #888989;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.ChatInfoWindow__link a {
  color: #1cc15c;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .ChatInfoWindow__content__img img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-height: 740px) {
  .ChatInfoWindow img {
    width: 250px;
    height: 250px;
  }
}
