.chatWindow {
  display: flex;
  flex: 70%;
  height: 100%;
  flex-direction: column;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.chatWindow--header {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #e5e5e6;
}

.header--avatar {
  padding-right: 15px;
}

.header--container {
  flex: 1;
}

.header--container--name {
  font-size: 16px;
}

.header--container--date {
  font-size: 13px;
  color: #5f5f5f;
}

.header--buttons {
  display: flex;
  margin-left: auto;
}

.chatWindow--messageWindow {
  flex: 1;
  background-image: url('/src/images/wallpaper.png');
  padding-top: 10px;
  overflow-y: auto;
}

.chatWindow--emojiField {
  height: 320px;
  transition: 0.2s;
  overflow: hidden;
}

.chatWindow--emojiField.hidden {
  height: 0px;
  overflow: hidden;
}

.emoji-mart {
  width: 100% !important;
  background: none;
}

.emoji-mart-category-label > span {
  color: #afafaf;
  background: none;
}

#emoji-mart-search-1 {
  background-color: #e6e6e6;
  outline: none;
  border: none;
}

.emoji-mart .emoji-mart-emoji {
  outline: none;
}

.chatWindow--footer {
  display: flex;
  align-items: center;
}

.footer--buttons {
  padding-left: 2px;
}

.footer--buttons > .MuiButtonBase-root {
  transition: all ease 0.2s;
}

.footer--buttons > .hidden {
  overflow: hidden;
  width: 0;
  padding: 0;
}

.footer--inputField {
  display: flex;
  background-color: #ffffff;
  flex: 1;
  align-items: center;
  border-radius: 20px;
  padding: 9px 12px 11px;
  margin: 5px 10px;
}

.footer--inputField > textarea {
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 2px;
  max-height: 100px;
  resize: none;
}

.footer--sendButton {
  margin-left: auto;
  padding: 5px 10px;
}
