.userListItem {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  height: 73px;
  margin: 10;
  border-bottom: 1px solid #e5e5e6;
}

.userListItem:hover {
  background-color: #f6f6f6;
}

.userListItem--avatar {
  display: flex;
  align-items: center;
  padding: 0 15px 0 13px;
}

.userListItem--avatar > .MuiAvatar-root {
  height: 50px;
  width: 50px;
}

.userListItem--container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 15px;
  min-width: 0;
}

.userListItem--container--line {
  display: flex;
}

.userListItem--user {
  font-size: 17px;
  flex: 1;
}

.userListItem--data {
  font-size: 12px;
  color: #b2b2b2;
  margin-left: auto;
  margin-right: 0;
}

.userListItem--message {
  font-size: 14px;
  color: #b2b2b2;
  display: flex;
  flex: 1;
  min-width: 0;
}

.userListItem--message p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
